<app-header></app-header>
<app-hero></app-hero>
<body class="body">

        <!-- Nav -->

    <div class="titulo">
      <h2>Bandeja de Salida</h2>
      </div>

    <nav class="sidenav">
      <div><a routerLink="/bandejaprincipal">Bandeja Principal</a></div>
      <br>
      <div><a routerLink="/bandejadesalida">Bandeja de Salida</a></div>
      <br>
      <div><a routerLink="/mensajenuevo">Mensaje Nuevo</a></div>
      <br>
      <div><router-outlet></router-outlet></div>
      <br>
      <button  mat-raised-button (click)="logSelection()">Eliminar</button>
    </nav>

       <!-- Fin nav -->

       <!-- Tabla -->

    <div class="table">
      <table mat-table [dataSource]="dataSource">

        

      </table>
    </div>
</body>
<app-footer></app-footer>
