.body {
  background-color: #55688a;

    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;

        h2{
          justify-content: center;
        }
      }

    .sidenav {
      position: absolute;
      text-decoration: none;
      left: 0;
      justify-content: left;
      padding: 60px;
      width: 100px;
      font-size: 15px;


      a {
        color: white;
        text-decoration: none;
        text-align: center;
      }

    }

    .table{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 1rem 1rem 11rem;
      text-align: start;
      align-items: stretch;

    }

}


