.body {
  display: flex;
  background-color: #fff;
  justify-content: center;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;


  .form-reg {
    height: 100%;
    padding: 3rem;
    justify-content: space-between;
    // align-items: flex-start;
    text-align: center;
  }

  #mail{
    width: 50rem;

  }
}
