.body {
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  height: 100%;
}
.body .form-reg {
  height: 100%;
  padding: 3rem;
  justify-content: space-between;
  text-align: center;
}