<app-header></app-header>

<div class="body">
  <div class="form-reg">

    <h2>Crear mensaje nuevo</h2>

    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">

      <mat-form-field id="mail" class="example-chip-list">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" value="" formControlName="email">
        <mat-error *ngIf="messageForm.get('email')?.hasError('required')">
          Error required
        </mat-error>

        <mat-error *ngIf="messageForm.get('email')?.hasError('email')">
          Error mal escrito
        </mat-error>
      </mat-form-field>

        <mat-form-field id="mail" class="example-chip-list">
          <mat-label>Asunto</mat-label>
          <input matInput formControlName="asunto">
        </mat-form-field>

        <br>

        <mat-form-field id="mail" hintLabel="Max 144 characters">
          <textarea matInput rows="5" cols="40"  #txtarea matInput  maxLength="144" placeholder="Escribir.." formControlName="asunto"></textarea>
         </mat-form-field>

        <br>

        <button type="sendMessage" mat-raised-button color="primary">Enviar</button>
    </form>

  </div>
</div>

<app-footer></app-footer>
