<app-header></app-header>

<div class="body">
  <div class="form-reg">

    <h2>Crear mensaje nuevo</h2>

    <br>

    <form>

        <mat-form-field class="mail" appearance="fill">
          <mat-label>Favorite Destinatarios</mat-label>
          <mat-chip-list #chipList aria-label="Destinatario selection">
            <mat-chip
              *ngFor="let destinatario of destinatarios"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(destinatario)">
              {{destinatario}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="New destinatario..."
              #destinatarioInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
              formControlName="mail">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let destinatario of filteredDestinatarios | async" [value]="destinatario">
              {{destinatario}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

            <br>

        <mat-form-field class="mail">
          <mat-label>Asunto</mat-label>
          <input matInput formControlName="asunto">
        </mat-form-field>


        <br>

          <mat-form-field class="mail">
            <textarea matInput rows="5" cols="40" placeholder="text" formControlName="mail"></textarea>
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button color="primary">Enviar</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
