<app-header></app-header>
<div class="body">
  <div class="login">

    <form [formGroup]="form" (ngSubmit)="logIn()">
      <img style="width: 50%;" src="../../../../assets/login.png" alt="login">

      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="userName">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type= "password" matInput autocomplete="off" formControlName="pass">
      </mat-form-field>

      <br>

      <button class="ancho" type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
    </form>

    <br>

    <button class="ancho" mat-raised-button color="primary" (click)="redireccion()">Registrarse</button>

  </div>
</div>

<app-footer></app-footer>


