<app-header></app-header>
<app-hero></app-hero>
<body class="body">

        <!-- Nav -->

        <div class="titulo">
          <h2>Bandeja Principal</h2>
          </div>

        <nav class="sidenav">
          <div><a routerLink="/bandejaprincipal">Bandeja Principal</a></div>
          <br>
          <div><a routerLink="/bandejadesalida">Bandeja de Salida</a></div>
          <br>
          <div><a routerLink="/mensajenuevo">Mensaje Nuevo</a></div>
          <br>
          <div><router-outlet></router-outlet></div>
          <br>
          <!-- <button  mat-raised-button (click)="logSelection()">Eliminar</button> -->

         </nav>

       <!-- Fin nav -->

       <!-- Tabla -->

    <div class="table">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="select">
          <th id="mat-header-cell" mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <br>
        <br>

        <ng-container matColumnDef="from">
          <th id="mat-header-cell" mat-header-cell *matHeaderCellDef> Remitente </th>
          <td mat-cell *matCellDef="let PostsI"> {{PostsI.from}} </td>
        </ng-container>
        <br>
        <br>

        <ng-container matColumnDef="to">
          <th id="mat-header-cell" mat-header-cell *matHeaderCellDef> Destinatario </th>
          <td mat-cell *matCellDef="let PostsI"> {{PostsI.to}} </td>
        </ng-container>
        <br>
        <br>

        <ng-container matColumnDef="date">
          <th id="mat-header-cell" mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let PostsI"> {{PostsI.date}} </td>
        </ng-container>
        <br>
        <br>

        <ng-container matColumnDef="message">
          <th id="mat-header-cell" mat-header-cell *matHeaderCellDef> Mensaje </th>
          <td mat-cell *matCellDef="let PostsI"> {{PostsI.body}} </td>
        </ng-container>
        <br>
        <br>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>


        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
</body>
<app-footer></app-footer>
